{% extends "base.html.twig"%}

{% block body %}
<div class="flex min-h-screen items-center justify-center flex-col place-content-center">
    {# Login Typ #}
    <div class="flex border-gray-100 bg-gray-900 rounded-xl flex flex-col">
        {# Username #}
        <input id="username" class="p-2 text-white" placeholder="Enter Username">
        <input id="password" class="p-2 text-white" placeholder="Enter Password">
    </div>
    <button id="submitButton">Submit</button>
</div>
<script>
    document.addEventListener('DOMContentLoaded',async()=>{
        document.querySelector("#submitButton").addEventListener('click',async()=>{
            console.log('submit button working userlogin')
            let username = document.querySelector("#username").value
            let password = document.querySelector("#password").value
            let userInput = {"username":username,"password":password}
            if(username&& password){
                    let checker = await fetch('{{path("login-auth")}}',{
                        method:"POST",
                        headers:{"Content-Type":"application/json"},
                        body:JSON.stringify(userInput)
                    })
                    let result = await checker.json()
                    console.log(result)
            }
        })
    })
</script>
{% endblock %}